<div id="left">
<!-- Dark Green -->
<div id="leftcontent">
<!-- White, first -->
<div id="about">
<%- partial('partials/about') %>
</div>
<div id="links">
<%- partial('partials/links') %>
</div>
<div id="projects">
<%- partial('partials/projects') %>
</div>
</div>
</div>


<div id="middle">
<div id="middlebox">
<div id="over">
<div class="smallpadding">
<h1>MB</h1>
<a class="open" id="open_about">About</a>
<a class="open" id="open_projects">Projects</a>
<a class="open" id="open_links">Links</a>
</div>
</div>
</div>
</div>


<div id="right">
<!-- Light Green -->
<div id="rightcontent">
<!-- Dark Green, second -->
<div id="about">
<%- partial('partials/about') %>
</div>
<div id="links">
<%- partial('partials/links') %>
</div>
<div id="projects">
<%- partial('partials/projects') %>
</div>
</div>
</div>
